<div class="">
  <div class="bg-yellow-500 w-100 h-40 position-relative"></div>
  <div
    class="shadow-lg containerproduct position-absolute flex flex-col items-center position: absolute top-[180px] right-0 left-0 m-auto bg-white border rounded"
  >
    <div class="flex flex-col items-center mt-8">
      <h1 class="text-8xl text-2xl font-black">
        مرکز پشتیبانی آنلاین علی بابا
      </h1>
      <span>چطور می‌توانیم کمکتان کنیم؟</span>
    </div>
    <div class="mt-12 flex items-center gap-8 mb-4">
      <div class="">
        <input
          class="border p-3 px-96 rounded-sm outline-none"
          type="text"
          placeholder="جستجو راهنما استراداد خرید "
        />
      </div>
      <div
        class="bg-yellow-500 hover:bg-yellow-700 text-dark font-bold py-3 px-12 rounded"
      >
        <button>جستجو</button>
      </div>
    </div>
  </div>
</div>
