<div class="bg-[#f6f6f6] border pt-8 pb-8 rounded-3xl">
  <div class="containerproduct bg-white p-16 flex items-center justify-between">
    <div class="Right mt-6">
      <div class="">
        <h2>ورود یا ثبت‌نام</h2>
        <h2>برای ادامه شماره موبایل خود را وارد کنید.</h2>
      </div>
      <div class="border inline-block px-28 py-3 rounded-2xl">
        <span class="a-input__input"
          ><input
            id="al474026"
            dir="ltr"
            root-class="text-right"
            type="tel"
            maxlength="10"
            name="mobile"
            autocomplete="off"
            class=""
            inputmode="numeric"
          /><span dir="ltr" class="text-grays-300 mr-1 px-2 border-r"
            >+۹۸</span
          ></span
        >
      </div>
      <div class="flex pt-4">
        <svg
          viewBox="0 0 24 24"
          width="1.5em"
          height="1.5em"
          fill="currentColor"
          class="align-top ml-2 shrink-0"
        >
          <path
            d="M12 1.5c5.799 0 10.5 4.701 10.5 10.5S17.799 22.5 12 22.5 1.5 17.799 1.5 12 6.201 1.5 12 1.5ZM12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18Zm0 6a.75.75 0 0 1 .745.663l.005.087v7.5a.75.75 0 0 1-1.495.087l-.005-.087v-7.5A.75.75 0 0 1 12 9Zm0-3a.75.75 0 0 1 .745.663l.005.087v.75a.75.75 0 0 1-1.495.087L11.25 7.5v-.75A.75.75 0 0 1 12 6Z"
          ></path>
        </svg>
        <span
          >استفاده از علی‌بابا به معنی پذیرش قوانین و مقررات این سرویس
          است.</span
        >
      </div>
      <div class="flex">
        <button
          class="border bg-[#79b8ec] px-40 py-3 rounded-2xl mt-4 text-white"
        >
          تایید و دریافت کد
        </button>
      </div>
      <div class="mt-3 ps-36">
        <span class="text-[#0077db]">ورود با کلمه عبور</span>
      </div>
    </div>
    <div class="Left">
      <div class="">
        <img
          src="https://cdn.alibaba.ir/h2/desktop/assets/login-8b648bbd.svg"
          alt="Login Background"
          class="is-responsive is-animated block mx-auto"
        />
      </div>
      <div class="ps-32">
        <h2>علی‌بابا رتبه یک سفر</h2>
      </div>
      <div class="">
        <span
          >برای خرید آسان و امن و مشاهده تخفیف‌های ویژه علی‌بابا، عضو
          شوید.</span
        >
      </div>
    </div>
  </div>
</div>
