<div class="containerproduct">
  <div class="flex mt-10 mb-5">
    <div class="ps-3">
      <img
        alt="Alibaba https://cdn.alibaba.ir/cms/uploads/Ad_Hoc_Requests_Refund_Penalty_Cardview_Banner_Desktop_02_06_19_f3b9e45af4.png"
        data-src="https://cdn.alibaba.ir/cms/uploads/Ad_Hoc_Requests_Refund_Penalty_Cardview_Banner_Desktop_02_06_19_f3b9e45af4.png"
        data-expand="0"
        class="rounded is-responsive is-animated is-cover is-rounded ls-is-cached lazyloaded w-[592px]"
        src="https://cdn.alibaba.ir/cms/uploads/Ad_Hoc_Requests_Refund_Penalty_Cardview_Banner_Desktop_02_06_19_f3b9e45af4.png"
      />
    </div>
    <div class="">
      <img
        alt="Alibaba https://cdn.alibaba.ir/cms/uploads/Eghamatghah_Cardview_Banner_Desktop_02_05_18_5_5d266cd132.jpg"
        data-src="https://cdn.alibaba.ir/cms/uploads/Eghamatghah_Cardview_Banner_Desktop_02_05_18_5_5d266cd132.jpg"
        data-expand="0"
        class="rounded is-responsive is-animated is-cover is-rounded w-[592px] ls-is-cached lazyloaded"
        src="https://cdn.alibaba.ir/cms/uploads/Eghamatghah_Cardview_Banner_Desktop_02_05_18_5_5d266cd132.jpg"
      />
    </div>
  </div>
</div>
