<div class="containerproduct">
  <div class="mb-4 mt-[140px]">
    <h1 class="font-bold">سایر خدمات علی بابا</h1>
  </div>
  <div class="flex justify-between">
    <div class="flex items-center border py-2 gap-[130px] rounded px-3">
      <div class="flex items-center">
        <img
          src="https://cdn.alibaba.ir/h2/desktop/assets/images/insurance-icon-bb51c425.svg"
          alt="Alibaba https://cdn.alibaba.ir/h2/desktop/assets/images/insurance-icon-bb51c425.svg"
          class="is-responsive is-animated"
          width="46"
          height="46"
          data-v-20a887e4=""
        />
        <span>بیمه مسافرتی</span>
      </div>
      <svg
        viewBox="0 0 24 24"
        width="16px"
        height="16px"
        fill="currentColor"
        class="text-grays-200 mr-1"
        data-v-20a887e4=""
      >
        <path
          d="M16.698 21.266a.75.75 0 0 1-1.08 1.037l-.066-.069-8.25-9.75a.75.75 0 0 1-.058-.89l.058-.078 8.25-9.75a.75.75 0 0 1 1.202.893l-.056.075L8.858 12l7.84 9.266Z"
        ></path>
      </svg>
    </div>
    <div class="flex items-center border py-2 gap-[140px] rounded px-3">
      <div class="flex items-center">
        <img
          src="https://cdn.alibaba.ir/h2/desktop/assets/images/visa-icon-d8507c8e.svg"
          alt="Alibaba https://cdn.alibaba.ir/h2/desktop/assets/images/visa-icon-d8507c8e.svg"
          class="is-responsive is-animated"
          width="46"
          height="46"
          data-v-20a887e4=""
        />
        <span>ویزای سفر</span>
      </div>
      <svg
        viewBox="0 0 24 24"
        width="16px"
        height="16px"
        fill="currentColor"
        class="text-grays-200 mr-1"
        data-v-20a887e4=""
      >
        <path
          d="M16.698 21.266a.75.75 0 0 1-1.08 1.037l-.066-.069-8.25-9.75a.75.75 0 0 1-.058-.89l.058-.078 8.25-9.75a.75.75 0 0 1 1.202.893l-.056.075L8.858 12l7.84 9.266Z"
        ></path>
      </svg>
    </div>
    <div class="flex items-center border py-2 gap-[130px] rounded px-3">
      <div class="flex items-center">
        <img
          src="https://cdn.alibaba.ir/h2/desktop/assets/images/gtour-icon-5e641f1b.svg"
          alt="Alibaba https://cdn.alibaba.ir/h2/desktop/assets/images/gtour-icon-5e641f1b.svg"
          class="is-responsive is-animated"
          width="46"
          height="46"
          data-v-20a887e4=""
        />
        <span>تور گروهی</span>
      </div>
      <svg
        viewBox="0 0 24 24"
        width="16px"
        height="16px"
        fill="currentColor"
        class="text-grays-200 mr-1"
        data-v-20a887e4=""
      >
        <path
          d="M16.698 21.266a.75.75 0 0 1-1.08 1.037l-.066-.069-8.25-9.75a.75.75 0 0 1-.058-.89l.058-.078 8.25-9.75a.75.75 0 0 1 1.202.893l-.056.075L8.858 12l7.84 9.266Z"
        ></path>
      </svg>
    </div>
  </div>
</div>
