<div class="containersuport">
  <div class="flex justify-around mt-3 mb-3 px-3">
    <div class="border p-1">
      <div class="">
        <img class="w-40" src="../../../assets/imag/s0.jpg" alt="" />
      </div>
      <div class="bg-white">
        <h1>ویزای شینگن</h1>
        <span>راهنمای دریافت ویزای شینگن</span>
      </div>
    </div>
    <div class="border p-1">
      <div class="">
        <img class="w-40" src="../../../assets/imag/s0.jpg" alt="" />
      </div>
      <div class="bg-white">
        <h1>ویزای شینگن</h1>
        <span>راهنمای دریافت ویزای شینگن</span>
      </div>
    </div>
    <div class="border p-1">
      <div class="">
        <img class="w-40" src="../../../assets/imag/s0.jpg" alt="" />
      </div>
      <div class="bg-white">
        <h1>ویزای شینگن</h1>
        <span>راهنمای دریافت ویزای شینگن</span>
      </div>
    </div>
    <div class="border p-1">
      <div class="">
        <img class="w-40" src="../../../assets/imag/s0.jpg" alt="" />
      </div>
      <div class="bg-white">
        <h1>ویزای شینگن</h1>
        <span>راهنمای دریافت ویزای شینگن</span>
      </div>
    </div>
  </div>
</div>
