<div class="containerproduct">
  <div class="flex justify-between border pt-3 rounded-2xl">
    <div class="Right flex items-center">
      <div class="">
        <img
          src="https://cdn.alibaba.ir/h2/desktop/assets/images/app-mobile/qrcode-56155e39.png"
          alt="بارکد دانلود اپلیکیشن علی بابا"
          class="is-responsive is-animated ml-8"
          width="148"
          height="185"
        />
      </div>
      <div class="flex flex-col gap-5">
        <span class="">اپلیکیشن علی‌بابا</span>
        <span class="">سریع‌تر و مطمئن‌تر به سفر بروید ‌</span>
        <div class="flex">
          <span class="text-blue-500">مشاهده لینک های دانلود</span>
          <svg
            viewBox="0 0 24 24"
            width="20"
            height="20"
            fill="currentColor"
            class="mr-2 text-blue-500"
          >
            <path
              d="M16.698 21.266a.75.75 0 0 1-1.08 1.037l-.066-.069-8.25-9.75a.75.75 0 0 1-.058-.89l.058-.078 8.25-9.75a.75.75 0 0 1 1.202.893l-.056.075L8.858 12l7.84 9.266Z"
            ></path>
          </svg>
        </div>
        <div class="flex">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAALVBMVEVHcEzJ0Nq/x82/x83Ax83Ey9K/x83Ayc6/x82/x82/x82/x83AyM3Cys6+xswvwGblAAAADnRSTlMACu+yYRZyON3EooVNJ2sjt+sAAAEuSURBVDjLY2BAAVWtDFhB8LunWMV59d4pYJUIevduAlYJu3fvHLCJs79790gAmwTXu3fPsJrE9O6dAVaJuHePsZrEcO+FA3bvhRQwEA8YawrBtEyaO4q4SN+7d1MEGBid3717p4VkII/eO5CIyyIQ9e4Vwmn73qEAeNBzo4q/ewnTcg5dIgAizqqHJmEI1cCGyyQONAlVBhxWJOBw7DsBpAhFBo/h3utDlXgNl0Bz7TOSJV7jsgNh+TxUCUTSWofmD3iKyEOTaIRJ1KFJvIJJyKFJvNsAlWBGl3gFjSgWdIl3OtA0hR6D757jcO+7BlhifocjqtBth/udF03iCa6UiMi5EqgmXUDO+FhjioHBD1kCOYNyY0uI8KA3qa0BZRBT1ELBSDMVFDrOHVOgIgDdWvhBf9f4lgAAAABJRU5ErkJggg=="
            alt="ios logo"
            class="is-responsive is-animated ml-2 mb-1"
            width="20"
          />
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAKlBMVEVHcEy/x87CzM2/x83O09bByc/AyM6/x82/x82/x82/x83AyM7Ax82+xswqLt8wAAAADXRSTlMAdhjeBi1L78CulV+HMiPrHwAAAPlJREFUOMtjYBgFpAA24wTsfOa7RSgS6ncNYBK3UCTWwiQY794NQBJnvXtXAMJisb3bgCTBcfeyA5SZe/caUDpso3SqA4yHUJPTexcIbhxF0Q80dfJdKDB0RLZx7V0EKEd2Y+5dZIDwFSOK+N0JMHGWuagSN2Gu9biLBlqgEr3oElAtXHcxwAKwxF5MidsgcaZaTInrCkAJzrtYAMjFsSCGkCJMCMK6CpQAeeIiA4MsRBzKugkOwLt3LzEw6EIkYKwABh7sEgeAEY7NKGCsx97FZjnQ9r13sYLbKHGEBG5hhiAE3GCwxS5xmaEWu8R1hrs4AG4dOCXoAAAsa7wb0fLE0wAAAABJRU5ErkJggg=="
            alt="android logo"
            class="is-responsive is-animated ml-2 mb-1"
            width="20"
          />
          <span class="text-slate-500">قابلیت نصب روی Android و iOS</span>
        </div>
      </div>
    </div>
    <div class="Left">
      <img
        src="https://cdn.alibaba.ir/h2/desktop/assets/images/app-mobile/app-mobile@4x-e3e3b7dc.webp"
        alt="application screenshot"
        data-src="https://cdn.alibaba.ir/h2/desktop/assets/images/app-mobile/app-mobile@4x-e3e3b7dc.webp"
        data-expand="0"
        class="pe-28 is-responsive is-animated shrink-0 self-end ls-is-cached lazyloaded"
        width="334"
        height="294"
      />
    </div>
  </div>
</div>
